<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="Browser" value="Chrome"/>-->
    <add key="Browser" value="Firefox"/>
		<add key="Username" value="alberto.gruning.zen@gmail.com"/>
		<add key="Password" value="Esfera3010"/>
		<!--<add key="WebSite" value="https://localhost:5001"/>-->
    <add key="WebSite" value="https://www.google.com"/>
	</appSettings>
</configuration>